body {
    background-image: url('background.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    filter: none;
    color: #ecf0f1; /* Світлий текст */
    font-family: 'Poppins', sans-serif; /* Шрифт Poppins */
    margin: 0;
    padding: 0;
}

.home-container {
    text-align: left;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative; /* Додано для позиціонування кнопки меню */
}

.menu-button {
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 40px; /* Збільшений розмір шрифту */
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 50px; /* Збільшений розмір кнопки */
    height: 50px; /* Збільшений розмір кнопки */
    position: absolute; /* Абсолютне позиціонування */
    left: -7px; /* Відступ зліва */
    z-index: 1100; /* Вищий рівень над іншими елементами */
}

.menu-button.active {
    /*background-color: #34495e;*/
    border-radius: 5px;
}

.menu-button:hover {
    color: #bdc3c7;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 30px; /* Збільшений розмір кнопок */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Збільшений розмір шрифту */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #2980b9;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -370px;
    width: 350px;
    height: 100%;
    background-image: url('background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px; /* Відступ зверху для вирівнювання елементів */
    padding-left: 20px; /* Відступ зліва */
    transition: 0.3s;
    z-index: 1000;
}

.sidebar a {
    margin-top: 40px;
    padding: 6px 80px; /* Збільшений розмір кнопок */
    text-decoration: none;
    font-size: 30px; /* Збільшений розмір шрифту */
    color: #ecf0f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1c40f;
}

.sidebar.open {
    left: 0;
}

.content {
    margin-top: 40px;
    border: 2px solid #3498db; /* Рамка */
    padding: 20px; /* Внутрішній відступ */
    border-radius: 10px; /* Округлені кути */
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
}

.description {
    font-size: 22px; /* Збільшений розмір шрифту */
    margin: 20px 0;
    margin-left: 40px; /* Додано відступ зліва для узгодження з іншими блоками */
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature {
    text-align: center;
}

.feature img {
    width: 100px;
    height: 100px;
}

h1 {
    margin-left: 500px;
}

.feature h2 {
    font-size: 24px; /* Збільшений розмір шрифту */
    margin-top: 10px;
}

.feature p {
    font-size: 20px; /* Збільшений розмір шрифту */
    margin-top: 5px;
}

.social-media-info {
    margin: 0 auto; /* Центрування блоку */
    margin-top: 20px; /* Відступ зверху */
    max-width: 600px; /* Максимальна ширина для узгодженого розміру */
    text-align: center; /* Центрування тексту */
}

.social-media-info h2 {
    font-size: 28px; /* Розмір шрифту */
    margin-bottom: 15px;
}

.social-media-info p {
    font-size: 18px; /* Розмір шрифту */
    margin-bottom: 15px;
}

.social-media-info ul {
    list-style-type: none; /* Видаляємо маркери списку */
    padding: 0;
    display: flex;
    justify-content: center; /* Центрування списку */
    gap: 20px; /* Відступ між елементами списку */
}

.social-media-info li {
    font-size: 18px; /* Розмір шрифту */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.social-media-info a {
    color: #3498db; /* Колір посилання */
    text-decoration: none; /* Видаляємо підкреслення */
    display: flex;
    align-items: center;
    gap: 10px; /* Відступ між іконкою та текстом */
}

.social-media-info a:hover {
    text-decoration: underline; /* Підкреслення при наведенні */
}

.social-media-info img {
    width: 24px; /* Розмір іконки */
    height: 24px; /* Розмір іконки */
}
